*
!.gitignore
!images
!images/types
!images/types/*.png
!images/pokemon
!images/pokemon/*.png
!images/pokemon/*.jpg
!images/attack
!images/attack/*.png
!images/layout
!images/layout/*.jpg
!images/pokemon.txt